/* Global settings */
/* Global "table" column settings */
.product-image {
    float: left;
    width: 20%;
}

.product-details {
    float: left;
    width: 37%;
}

.product-price {
    float: left;
    width: 12%;
}

.product-shipping {
    float: left;
    width: 10%;
}
.product-link {
    float: left;
    width: 9%;
}

.product-source {
    float: left;
    width: 12%;
    text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after {
    content: '';
    display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after {
    clear: both;
}

.group, .shopping-cart, .column-labels, .product {
    zoom: 1;
}

/* Body/Header stuff */
body {
    padding: 0px 30px 30px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}

h1 {
    font-weight: 100;
}

label {
    color: #aaa;
}

.shopping-cart {
    margin-top: 45px;
}

/* Column headers */
.column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.column-labels .product-image, .column-labels .product-details, .column-labels .product-link {
    text-indent: -9999px;
}

/* Product entries */
.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

    .product .product-image {
        text-align: center;
    }

        .product .product-image img {
            width: 100px;
        }

    .product .product-details .product-title {
        margin-right: 20px;
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
        font-style: oblique;
        text-emphasis-style:triangle;
    }

    .product .product-details .product-description {
        margin: 5px 20px 5px 0;
        line-height: 1.4em;
        text-decoration:wavy;
    }

    .product .link-of-product {
        border: 0;
        padding: 4px 8px;
        background-color: #c66;
        color: #fff;
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
        font-size: 22px;
        border-radius: 3px;
        cursor:pointer;
        margin: 10%, 10%;
    }

        .product .link-of-product:hover {
            background-color: #a44;
        }

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
    .shopping-cart {
        margin: 0;
        padding-top: 20px;
        border-top: 1px solid #eee;
    }

    .column-labels {
        display: none;
    }

    .product-image {
        float: right;
        width: auto;
    }

        .product-image img {
            margin: 0 0 10px 10px;
        }

    .product-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }

    .product-price {
        clear: both;
        width: 70px;
    }

    .product-shipping {
        clear: both;
        width: 70px;
    }

    .link-of-product {
        width: auto;
    }

    .product-source {
        float: right;
        width: 70px;
    }
}
@media screen and (max-width: 350px) {
    .link-of-product {
        float: right;
    }

    .product-source {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }
}

